<nav class="fixed-top bg-white border-b border-[#dee2e6] h-16">
  <div class="px-3 w-100 d-flex align-items-center h-full justify-between h-full">
    <div class="">
      <div class="flex justify-between space-x-7">
        <!-- Website Logo -->
        <div>
          <a href="https://www.plume-app.co" class="flex items-center py-2 px-2">
            <%= image_tag "logo-plume.png", class:"mr-2" %>
          </a>
        </div>
        <!-- Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="#" class="flex justify-between py-2 px-6 text-[#065f46] font-light no-underline hover:underline">
            <%= image_tag "gift.png", class:"w-6" %>
            <span class="px-2">Offrir Plume</span>
          </a
          >
          <a href="#" class="bg-[#fa5c5c] font-light text-white py-2 px-4 rounded hover:bg-[#fa4d4c]">Ressources
          </a>
          <a href="#" class="py-2 pl-7 pr-2 text-[#065f46] font-light">
            <%= image_tag "plume.png", class:"mx-2 w-7" %>
          </a>
          <a href="#" class="py-2 pl-2 pr-3 text-[#065f46] font-light">
            <%= image_tag "burger-menu.png", class:"mx-2 w-7" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
